body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  color: rgb(29, 2, 2);
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
  background-color: rgb(91, 5, 5);
  color: rgb(255, 229, 229);
}